.header__logo {
    max-width: 142px;
    transition: opacity .3s ease;
}

.header__logo:hover {
    opacity: 0.6;
}

@media (max-width: 930px) {
    .header__logo {      
        max-width: 103.74px;
    }
}