/*.header__close-button.css {
background-image: url(../../../images/close-button.svg);
	 background-position: center;
	 background-size: cover;
	 background-color: #000;
	 background-repeat: no-repeat;
	 display: none;
	 width: 24px;
	 height: 24px;
	 border: none;
	 fill: #fff;
	 cursor: pointer;
     margin-right: 30px;
} 
}*/