.popup__heading_type_tooltip-info {
    text-align: center;
    margin: 0;
    padding-top: 32px;
}

@media (max-width: 580px) {
    .popup__heading_type_tooltip-info {
        padding-top: 40px;
    }
}